
.page--intro {
  display: flex;
  justify-content: center;
  align-items: center;

  // temporary
  min-height: 100vh;
  padding: 50px 0;
}

.site-intro {

  h1 {
    margin-bottom: 10px;
  }

}

  .intro-section {
    margin-top: 80px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    .title {
    }

  }

  .drag-drop {
    @include border-radius(3px);
    //background-color: #F7F7F7;
    border: 1px solid #{map-get($colors, active)};
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 240px;

    &:hover {
      background-color: #fafafa;
    }

    &:active {
      background-color: #f0f0f0;
    }

    p {
      color: #{map-get($colors, primary)};
      font-size: 1.1em;
      line-height: 1.4em;
      max-width: 290px;
      margin: 0 auto;
      //font-style: italic;
      font-weight: 300;

      strong {
        font-weight: 400;
      }

    }

  }

  .textarea--main {
    width: 100%;
    resize: none;
    height: 240px;
  }
