<section class="page page--intro">
  <div class="general-max-width">
    <section class="site-intro align--centre">
      <h1 class="title--main"><strong>HTML</strong>THOR</h1>
      <h2 class="title--sub"><strong>Validate</strong> your HTML code against the <strong>HTML5 spec</strong></h2>
    </section>
    <section class="tabbed-content intro-section">
      <header class="tabbed-content__header">
        <h3 ng-click="mainVM.changeTab('upload');"
            ng-class="{
                  'state--active': mainVM.states.tabs.active === 'upload'
                 }" class="title title--section tabbed-content__tab">Upload Files</h3>
        <h3 ng-click="mainVM.changeTab('direct');"
            ng-class="{
                  'state--active': mainVM.states.tabs.active === 'direct'
                 }" class="title title--section tabbed-content__tab">Direct Input</h3>
      </header>
      <section class="tabbed-content__body">
        <section ng-class="{
                  'state--active': mainVM.states.tabs.active === 'upload'
                 }"
                 class="tabbed-content__section">
          <section class="drag-drop ">
            <p>
              <strong>Drag and drop</strong> your html files here
              or <strong>click to upload</strong>
            </p>
          </section>
        </section>
        <section ng-class="{
                  'state--active': mainVM.states.tabs.active === 'direct'
                 }"
                 class="tabbed-content__section">
          <form class="form-main">
            <textarea ng-model="mainVM.models.direct"
                      class="textarea--main" id="input--code"
                      placeholder="<!doctype>"></textarea>
          </form>
        </section>
      </section>
    </section>
    <section class="intro-section flex--centre">
      <button ng-class="{
                'state--disabled': !mainVM.models.direct
              }"
              class="btn btn--action ">Validate</button> <!-- state--disabled -->
    </section>
  </div>
</section>
