
%btn--reset {
  @extend %font--default;

  border: 0;
  background: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  text-align: center;

  &:focus {
    outline: none;
  }

  &.state--disabled {
    cursor: default;
  }

}

.btn {
  @extend %btn--reset;

  &.btn--block {
    display: block;
    width: 100%;
  }

}

.btn--action {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;

  border: 2px solid #{map-get($colors, active)};
  //color: #{map-get($colors, active)};
  background-color: #{map-get($colors, active)};
  color: #ffffff;
  padding: 8px 12px;

  &.state--disabled {
    background: none;
    border-color: #dddddd;
    color: #dddddd;
  }

}
